@import url(https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/jaxa-moon.webp); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
section button {
    padding: 0;
    border: none;
    background: none;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}
section {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-family: Rubik Moonrocks;
    align-items: center;
    font-size: 30px;
    padding: 20px 50px;
    word-spacing: 50px;
    backdrop-filter: blur(10px);
}
.search-bar {
    width: 100%;
    max-width: 700px;
    background: gray;   
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10 px;
    margin: 60px;
    background-color: none;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}
.search-bar input {
    background: none;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 10px;
}
.search-bar button {
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}
#searching {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section button:hover {
    transform: scale(2);
    transition: transform 350ms ease-in-out;
}
.search-bar button:hover {
    transform: rotate(360deg);
    transition: transform 500ms ease-in-out;
}
.search-bar:hover {
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;
    box-shadow: 0px 0px 15px 5px gray;
}
div a:link, div a:visited, div a:active {
    text-decoration: none;
    color: gray;
    transition: 250ms ease-in-out;
}
div a:hover {
    color:white;
    font-size: 100%;
    text-shadow: 1px 1px 20px;
}