/* Search Bar */
.search-bar {
    width: 100%;
    max-width: 700px;
    background: #313131; /* Dark grey background */
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    margin: 40px auto;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Increased shadow */
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 18px;
    background: #fff; /* White input background */
    color: #313131; /* Dark grey text color */
    border-radius: 20px; /* Slightly rounded corners */
}

.search-bar button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #313131; /* Dark grey background */
    color: #fff; /* White icon color */
    font-size: 20px;
    transition: transform 0.3s ease-out;
}

.search-bar button:hover {
    transform: rotate(360deg);
}

/* Search Results */
#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Align cards in a grid */
    padding: 20px; /* Add padding */
}

.search-result {
    width: calc(20% - 20px); /* Adjust width to fit five cards per row */
    height: 250px; /* Set height for each card */
    margin: 10px; /* Adjust margin */
    padding: 10px; /* Adjust padding */
    background-color: #01010191; /* Semi-transparent dark background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden; /* Prevent images from overflowing */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Set flex direction to column */
    justify-content: center; /* Vertically center content */
}

.search-result:hover {
    transform: scale(1.03); /* Increase size on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.search-result h3 {
    color: #fff; /* White heading color */
    font-size: 1.1rem; /* Adjust text size */
    margin-bottom: 8px; /* Adjust margin */
}

.search-result p {
    color: #ccc; /* Light grey text color */
    font-size: 0.9rem; /* Adjust text size */
    margin-bottom: 6px; /* Adjust margin */
}

.search-result a {
    display: inline-block;
    background-color: #3498db; /* Blue button background */
    color: #fff;
    padding: 6px 12px; /* Adjust padding */
    font-size: 0.9rem; /* Adjust text size */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.search-result a:hover {
    background-color: #297fb8;
}

.search-result img {
    width: auto; /* Ensure image width adjusts automatically */
    max-height: 70%; /* Limit maximum image height */
    margin: auto; /* Center image horizontally */
}
